## Dependencies
node_modules/

## Build output
dist/
build/

## Environment
.env
.env.local
.env.*.local

## Testing
coverage/
*.sqlite

## Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

## Editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

## Misc
*.tsbuildinfo
.env.example.local
